/logs
/XaeroWaypoints_BACKUP240807
/logs
logs/latest.log
logs/launcher_log.txt
usercache.json
/logs/telemetry
/logs
fancymenu_data/fancymenu_temp/web/videoplayer/player.html
/crash-reports
/screenshots
.mixin.out/class/net/minecraft/client/gui/screens/OptionsScreen.class
/saves
/.replay_cache
/replay_recordings
Distant_Horizons_server_data/
.fabric/.DS_Store
config/.DS_Store
mods/.DS_Store
natives/.DS_Store
.DS_Store
xaero/
.DS_Store
/backups
config/gdcchiosco-indirizzi.json
*.nbt
